body {
    /* background-image: url('assets/landscape-1844226.svg') no-repeat center center fixed; */
    background-size: cover;
    margin: auto;
}

h1 {
    color: #D5CAB1;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    Padding:0px 0 5px 0;

}

.newName {
    display: none;
    /* margin-bottom: 50px;
    color: #D5CAB1;
    padding: 5px 10px;
    font-size: 30px;
    background-color: #0593A8;
    font-family: 'Kanit', sans-serif;
    font-weight: 500; */
  }
  
#name {
    background-color: #0593A8;
    font-family: 'Kanit', sans-serif;
    color: #D5CAB1;
}

.tamagotchi {
  position: absolute;
  display: inline-block;
  width: 100%;
  transform: translateY(-50%);
  font-size: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  text-decoration: none;
  color: #0593A8;
  font-family: 'Kanit', sans-serif;
}

#age {
  position: absolute;
  display: inline-block;
  width: 100%;
  transform: translateY(-50%);
  font-size: 40px;
  text-align: center;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  text-decoration: none;
  color: #0593A8;
  font-family: 'Kanit', sans-serif;
}

.actions {
  font-family: 'Kanit', sans-serif;
  width: auto;
  height:auto;
  text-align: center;
  margin-top:500px;
  padding: 30px;
}

.actions span {
  font-weight: 200;
}

.actions p {
  display: inline;
  padding: 20px;
}

.buttons #sleep {
  display: inline-block;
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #0593A8;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  color: #0593A8;
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

.buttons #eat {
  display: inline-block;
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #0593A8;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  color: #0593A8;
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

.buttons #play {
  display: inline-block;
  font-size: 40px;
  background-color: transparent;
  border: 2px solid #0593A8;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  color: #0593A8;
  font-weight: 300;
  font-family: 'Kanit', sans-serif;
  cursor: pointer;
}

#sleep:hover {
  background-color: #0593A8;
  color: #D5CAB1;
}

#eat:hover {
  background-color: #0593A8;
  color: #D5CAB1;
}

#play:hover {
  background-color: #0593A8;
  color: #D5CAB1;
}

  #start-button {
    display: inline-block;
    font-size: 40px;
    background-color: transparent;
    border: 2px solid #0593A8;
    padding: 10px 20px;
    margin: 100px 20px 0px 20px;
    color: #0593A8;
    font-weight: 300;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
  }

  #start-button:hover {
    background-color: #0593A8;
    color: #D5CAB1;
  }

#animal {
    margin:0 0 0 500px;
}

#animal img {
    width: 50%;
    height: auto;
    -webkit-animation: mover .5s infinite  alternate;
    animation: mover .5s infinite  alternate;
}

    @-webkit-frames mover {
        0% {transform: translateY(0); }
        100% { transform: translateY(-100px); }
    }
    @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-100px); }
    }

